*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.test {
  font-size: 40px;
  color:#fff;
  position: fixed;
  top:20%;
  left:20%;
}

.container {
  max-width: 1140px;
  margin: auto;
 
  padding: 40px 0;
}

@media (max-width:1200px){
  .container {
    max-width: 968px;
  }
}

@media (max-width:998px){
  .container {
    max-width: 800px;
  }
}


@media (max-width:800px){
  .container {
    max-width: 85%;
  }
}
